<h1>Welcome to keshavtrello.com, <%= @user.name %></h1>
<p>
  You have successfully created a new <%= @board.name %> board
  your username is: <%= @user.name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>