<h1>Hello <%= @user.name %></h1>
<h2>Welcome to keshav-trello.com</h2>
<p>
  You have successfully signed up with us.

  your username is: <%= @user.name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>