<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Keshav Biswa, Avalon Labs Inc. </p>
    <p>Visit our <a href="www.avalonlabs.co/">Homepage</a></p>
  </div>
</footer>