<div>
    <h1><%= @board.name %></h1>
    <h2><%= @board.scope %></h2>
    <% @lists.each do |list| %>
        <div>
            <h3><%= list.name%></h3>
        </div>
    <% end %>
    <div id = "list new">
        <%= link_to "Create a new Lists", new_board_list_path(@board) %>    
    </div>
</div>